<%- include('../partials/header') %>

<p>Please find a list of all flights below:</p>

<ul>
<% flights.forEach(function(flight){ %>
    <li><%= flight.flightNo %> - <%= flight.airport %> - <%= flight.airline %> - <%= flight.departs %> -> <a href="/flights/<%= flight._id %>"> Details</a></li>
</br>
<% }) %>
</ul>

<%- include('../partials/footer') %>