<%- include('../partials/header') %>

<p>Please find a list of all flights below:</p>

<table>
    <thead class="titles">
        <th>Flight Number</th>
        <th>Airport</th>
        <th>Airline</th>
        <th>Departure Date & Time</th>
        <th>Full Information and Details</th>
    </thead>
    <tbody>
        <% flights.forEach(function(flight){ %>
            <tr>
                <td><%= flight.flightNo %></td>
                <td><%= flight.airport %></td>
                <td><%= flight.airline %></td>
                <td><%= flight.departs %></td>
                <td><a href="/flights/<%= flight._id %>">Details for Flight <%= flight.flightNo%></a></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>