<%- include('../partials/header') %>

<p>Please find a list of all flights below:</p>

<ul>
<% flights.forEach(function(flight){ %>
    <li><a href="/flights/<%= flight.flightNo %>"><%= flight.flightNo %></a> - <%= flight.airport %> - <%= flight.airline %> - <%= flight.departs %></li>
</br>
<% }) %>
</ul>

<%- include('../partials/footer') %>