<%- include('../partials/header') %>

<p>Flight details below:</p>

<ul>
    <li>Flight Number: <%= flight.flightNo %></li>
    <li>Airport: <%= flight.airport %></li>
    <li>Airline: <%= flight.airline %></li>
    <li>Departure date and time: <%= flight.departs %></li>
</ul>

<%- include('../partials/footer') %>