<%- include('../partials/header') %>

<h3>Flight details below:</h3>
<table>
    <thead class="showTableTitles">
        <th>Flight Number</th>
        <th>Airport</th>
        <th>Airline</th>
        <th>Departure Date and Time</th>
    </thead>
    <tbody>
        <td><%= flight.flightNo %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.airline %></td>
        <td><%= flight.departs %></td>
    </tbody>
</table>

<h3>Flight Destinations:</h3>
<table>
    <thead class="destinationTableTitles">
        <th>Destination Airport</th>
        <th>Arrival Date and Time</th>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(destinations) { %>
            <tr>
                <td><%= destinations.airport %></td>
                <td><%= destinations.arrival %></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<h3>Add a Destination</h3>
<form class="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Destination Airport</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <br>
    <label>Arrival Date and Time</label>
    <input type="datetime-local" name="arrival">
    <br>
    <span id="addDestinationBtn"><input type="submit" value="Add Destination"></span>
</form>

<%- include('../partials/footer') %>